/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
} */

audio {
    display: none;
}

:root {
    --gradation : linear-gradient(157.5deg, rgb(148, 31, 115) 0%, rgb(148, 31, 115) 42%, rgb(129, 38, 114) 42%, rgb(129, 38, 114) 53%, rgb(110, 44, 113) 53%, rgb(110, 44, 113) 68%, rgb(91, 51, 113) 68%, rgb(91, 51, 113) 70%, rgb(72, 58, 112) 70%, rgb(72, 58, 112) 83%, rgb(53, 64, 111) 83%, rgb(53, 64, 111) 97%, rgb(34, 71, 110) 97%, rgb(34, 71, 110) 100%), linear-gradient(90deg, rgb(148, 31, 115) 0%, rgb(148, 31, 115) 42%, rgb(129, 38, 114) 42%, rgb(129, 38, 114) 53%, rgb(110, 44, 113) 53%, rgb(110, 44, 113) 68%, rgb(91, 51, 113) 68%, rgb(91, 51, 113) 70%, rgb(72, 58, 112) 70%, rgb(72, 58, 112) 83%, rgb(53, 64, 111) 83%, rgb(53, 64, 111) 97%, rgb(34, 71, 110) 97%, rgb(34, 71, 110) 100%), linear-gradient(0deg, rgb(148, 31, 115) 0%, rgb(148, 31, 115) 42%, rgb(129, 38, 114) 42%, rgb(129, 38, 114) 53%, rgb(110, 44, 113) 53%, rgb(110, 44, 113) 68%, rgb(91, 51, 113) 68%, rgb(91, 51, 113) 70%, rgb(72, 58, 112) 70%, rgb(72, 58, 112) 83%, rgb(53, 64, 111) 83%, rgb(53, 64, 111) 97%, rgb(34, 71, 110) 97%, rgb(34, 71, 110) 100%), linear-gradient(90deg, rgb(43, 115, 147), rgb(213, 181, 127));
}

.box {
    position:relative;
    margin-top: 50px;
}

.box.animate:after{
    animation:animateArrow 0.7s ease infinite;
}
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: var(--gradation);
    background-blend-mode: overlay, overlay, overlay, normal;
} */

/* -90 + 360/n */

li.one{
	background-color: #3f51b5;
	transform: rotate(0deg) skewY(-62.3deg);
}
li.two{
	background-color: #ff9800;
	transform: rotate(27.7deg) skewY(-62.3deg);
}
li.three{
	background-color: #e91e63;
	transform:rotate(55.4deg) skewY(-62.3deg);
}
li.four{
	background-color: #4caf50;
	transform:rotate(83.1deg) skewY(-62.3deg);
}
li.five{
	background-color: #009688;
	transform:rotate(110.8deg) skewY(-62.3deg);
}
li.six{
	background-color: #795548;
	transform:rotate(138.5deg) skewY(-62.3deg);
}
li.seven{
	background-color: #9c27b0;
	transform:rotate(166.2deg) skewY(-62.3deg);
}
li.eight{
	background-color: #f44336;
	transform:rotate(193.9deg) skewY(-62.3deg);
}
li.nine{
	background-color: #7cf436;
	transform:rotate(221.6deg) skewY(-62.3deg);
}
li.ten{
	background-color: #aaa9b4;
	transform:rotate(249.3deg) skewY(-62.3deg);
}
li.eleven{
	background-color: #222041;
	transform:rotate(277deg) skewY(-62.3deg);
}
li.tweleve{
	background-color: #8b5815;
	transform:rotate(304.7deg) skewY(-62.3deg);
}
li.thirtheen{
	background-color: #6b0a32;
	transform:rotate(332.4deg) skewY(-62.3deg);
}


.circle {
    width: 25em;
    height: 25em;
    border: 1px solid black;
    position: relative;
    padding: 0;
    margin: 1em auto;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
}

li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}


.text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    display: block;
    transform: skewY(62.3deg) rotate(13.85deg); /* 1개씩 지정 된 각도에서 1/2 */
    padding-top: 18px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.btnSpin {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: tomato;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}

.btnSpin:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}

@keyframes animateArrow {
    50% {
        right:-50px
    }
    
}